.elerhetoseg-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.75rem; /* 220px -> 13.75rem */
  font-family: "Josefin Sans", sans-serif;
}

.elerhetoseg-content p {
  font-size: 2.25rem; /* 36px -> 2.25rem */
}

.elerCard {
  display: flex;
  flex-direction: column;
  gap: 5.6875rem; /* 91px -> 5.6875rem */
}

.email,
.tel,
.lokacio {
  display: flex;
  align-items: center;
  gap: 1.125rem; /* 18px -> 1.125rem */
}

.terkep {
  border: 0.375rem solid #e0b979; /* 6px -> 0.375rem */
}

.contactcim {
  margin-bottom: 4.6875rem; /* 75px -> 4.6875rem */
}

@media (max-width: 1200px) {
  /* nagyobb desktop */
  /* kisebb gap, kisebb fontméret */
}

@media (max-width: 900px) {
  /* tablet */
  .elerhetoseg-content {
    flex-direction: column;
    gap: 4rem;
  }
  .elerCard {
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  /* mobil */
  .elerhetoseg-content p {
    font-size: 1.25rem;
  }
  .contactcim {
    margin-bottom: 2rem;
  }
}
