* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* Alapértelmezett, így a rem jól számolható */
}

body {
  font-family: Yeseva One, sans-serif;
  font-weight: 400;
  font-size: 1.5rem; /* 24px -> 1.5rem */
  box-sizing: inherit;
  background-color: #323233;
  /* width: 1360px;  -- ezt töröld! */
  margin: 0 auto;
  color: #d7d7d7;
  max-width: 85rem; /* 1360px -> 85rem */
}

.menu-item {
  color: rebeccapurple;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6.25rem; /* 100px -> 6.25rem */
}

h1 {
  font-size: 3rem; /* 48px -> 3rem */
  font-weight: 400;
  text-align: center;
}
