.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 1188px;
  margin-top: 51px;
}

.menu a {
  text-decoration: none;
  color: #d7d7d7;
}

.left {
  display: flex;
  gap: 29px;
  justify-content: flex-start;
  align-self: flex-end;
}

.right {
  display: flex;
  gap: 29px;
  align-self: flex-end;
}

.logo-wrapper {
  margin-top: 51px;
  flex-shrink: 0;
  margin: 0 4rem;
}

.nagyviragoskep {
  position: relative;
}

.masked-image img {
  display: block;
  width: 100%;
  height: auto;

  /* A maszkolás */
  mask-image: linear-gradient(to bottom, transparent 0%, black 30%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 30%);

  mask-mode: match-source;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
