.content {
  display: flex;
}

.rolunkkepek {
  position: relative;
}

.edina {
  position: absolute;
  bottom: -6.5rem;
  left: 6.5rem;
  z-index: -1;
}

.rolunkszoveg {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.rolunkcim {
  margin-right: 17rem;
}

.alairas {
  text-align: right;
  margin-right: 6rem;
}
